Options +FollowSymlinks
Options +Indexes
RewriteEngine on
RewriteCond %{ENV:REDIRECT_STATUS} !200
#profile.php
RewriteCond %{QUERY_STRING} ^handle=([a-zA-Z0-9]+)
RewriteRule ^profile.php$ %1? [L,R=301]
RewriteRule ^([a-zA-Z0-9]+)$ profile.php?handle=$1 [L,QSA]
#followers.php
RewriteRule   ^(.+)/followers$  followers.php?handle=$1   [L]
#following.php
RewriteRule   ^(.+)/following$  following.php?handle=$1   [L]
#log.php
RewriteRule   ^(.+)/log$  log.php?handle=$1   [L]
#my_avatars.php
RewriteRule   ^my_avatars/(.+)$  my_avatars.php?handle=$1   [L]
#edit_avatars.php
RewriteRule   ^edit_avatars/(.+)$  edit_avatars.php?handle=$1   [L]
#start_following.php
RewriteRule   ^start_following/(.+)$  start_following.php?handle=$1   [L]